<%= form_for @item do |f| %> 
	<% if @item.errors.any? %>
	<div class="alert alert-danger">
			<h3><%= pluralize(@item.errors.count, "error") %>
			prohibited this item from being saved:</h3>
			<ul>
			<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
		<p>
		<%= f.label :name %><br>
		<%= f.text_field :name, :maxlength => "50" %>
	</p>
	<p>
		<%= f.label :notes %><br>
		<%= f.text_area :notes, :size => "50x10"%>
	</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>